.message-tile {
    display: grid;
}

.message-tile-content {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.msg-content {
    margin-inline: 1rem;
}

#avatar_icon {
    margin: 1rem;
}

#message_divider {
    margin: 0%;
}
